GC_REGION=us-central1
GC_GATEWAY_NAME=agent-chain-gateway
GC_EXT_SVC_NAME=agent-chain-gateway-extension-service
GC_AUTHZ_EXTENSION=agent-chain-authz-extension
GC_AUTHZ_POLICY=agent-chain-authz-policy
